.inf .fas {
	color: gold;
}

/* ------------------ 주문 접수 모달--------------------- */
.accept_modal .accept_modal_box {
	position: relative;
	overflow: auto;
	height: calc(100% - 40px);
	background: #fff;
}

.accept_modal section {
	width: 97%;
	height: 87%;
	margin-left: auto;
	padding-top: 20px;
	overflow: auto;
}

.accept_modal section h2 {
	font-size: 20px;
}

.accept_modal section div {
	font-size: 18px;
}

.accept_modal article {
	border-bottom: 1px solid #999999;
	padding-bottom: 20px;
	margin-bottom: 20px;
	min-height: 100px;
	width: 95%;
}

.accept_modal .delevery_info {
	position: relative;
}

.accept_modal .delevery_info .order_cancle {
	position: absolute;
	right: 0;
}
.accept_modal .delevery_info .order_cancle button {
	background: #808080;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 10px;
}

.accept_modal article.request div {
	width: 95%;
	min-height: 50px;
	border: 1px solid #333333;
	margin-top: 5px;
	padding: 5px;
}

.accept_modal #option {
	font-size: 16px;
}

.accept_modal button.accept_next {
	background: #30DAD9;
}

.accept_modal button.cancle {
	background: #808080;
}

/* ------------------ 주문 접수 모달--------------------- */

/* ------------------ 주문 거부 모달--------------------- */

.order_cancle_modal .modal_box {
	 background: #F0F0F0; 
}

.order_cancle_modal h2 {
	text-align: center;
	padding: 5% 0;
}

.order_cancle_modal .modal_box {
	height: 100%;
}
	
.order_cancle_modal li {
	background: #fff;	
}

.order_cancle_modal li {
    border: 1px solid #DBDBDB;
    width: 80%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
}

.order_cancle_modal button.order_cancle_btn {
	background: #30DAD9;
}

.order_cancle_modal button.cancle {
	background: #808080;
}
	




/* ------------------ 주문 거부 모달--------------------- */




/* ------------------ 배달 시간 모달--------------------- */
.delevery_timer {
	z-index: 1000;
	width: 600px;
	margin-left: -300px;
}

.delevery_timer article {
	display: flex;
	align-items: center;
	justify-content: center;
}

.delevery_timer h2 {
	width: 100%;
	display: flex;
	font-size: 24px;
	font-weight: bold;
	height: 70px;
	align-items: center;
	justify-content: center;
}

.delevery_timer section {
	height: 100%;
	padding-top: 10px;
	overflow: auto;
	background: #fff;
}

.delevery_timer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.delevery_timer li {
	background: #ddd;
	width: 25%;
	height: 100px;
	align-items: center;
	justify-content: center;
	margin: 20px;
	border-radius: 5px;
	display: flex;
	cursor: pointer;
}

.delevery_timer li:hover {
	background: #30DAD9;
	color: #fff;
}

.delevery_timer article:last-child div {
	width: 100%;
	text-align: center;
}

.delevery_timer article button {
	margin-top: 20px;
	width: 35%;
	height: 60px;
	font-size: 18px;
	border-radius: 5px;
	color: #fff;
	border: none;
}

.delevery_timer button#accept {
	background: #30DAD9;
}

.delevery_timer button.cancle {
	background: #808080;
}

#select {
	background: #30DAD9;
	color: #fff;
}

/* ------------------ 배달 시간 모달--------------------- */
.wrap {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto 30px;
	display: flex;
	flex-wrap: wrap;
}

/* ------------------ 상단 메뉴 --------------------- */
section.tab {
	width: 100%;
	margin-top: 50px;
}

section.tab ul {
	display: flex;
	background: #333333;
}

section.tab .re_order.select1 {
	background: #28a8a8;
}

section.tab ul li {
	padding: 15px 50px;
	text-align: center;
	border: 0px;
	width: 200px;
	font-size: 20px;
	color: #fff;
	background: #333333;
	cursor: pointer;
	line-height: 30px;
}

section.tab ul li:hover {
	background: #30DAD9;
	transition: ease-in-out 0.1s
}

/* ------------------ 상단 메뉴 --------------------- */

/* ------------------ 왼쪽 메뉴 --------------------- */
aside {
	width: 12%;
	background: #ddd;
	display: none;
}

aside ul {
	border-left: 1px solid #ddd;
}

aside ul li {
	font-size: 22px;
	border: 1px solid #ddd;
	border-left: 0;
	height: 200px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

aside ul li:hover {
	background: #fff;
	border-right: 0;
}

/* ------------------ 왼쪽 메뉴 --------------------- */

/* -------------------- 메인 ----------------------- */
main {
	width: 85%;
}

#cont_box {
	min-height: calc(100vh - 315px);
}

#cont_box>ul>li {
	display: none;
}

main .order_list {
	background: ccc;
	font-size: 18px;
}

main ul .order_box {
	width: 90%;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

main ul .order_box {
	position: relative;
}

main ul .order_box .info {
	padding-left: 115px;
	width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

main ul .order_box .time {
	font-weight: bold;
	position: absolute;
	top: 25px;
	margin-left: 5px;
	text-align: center;
}

main ul .order_box .time>div:first-child {
	font-size: 18px;
}

main ul .order_box .time>div:last-child {
	font-size: 35px;
}

main ul .order_box .payMethod {
	border: 1px solid #ccc;
	font-size: 13px;
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	background: #fff;
	color: red;
	position: absolute;
}

main ul .order_box .button_box {
	position: absolute;
	right: 0px;
	top: 5px;
	display: flex;
	align-items: center;
	height: 100%;
}

main ul .order_box .button_box .btn {
	width: 110px;
	height: 85%;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #ddd;
	background: #1A7CFF;
	color: #fff;
}

main ul .order_box .end {
	display: none;
}

/* -------------------- 메인 ----------------------- */
.tab .box #select {
	background: #30DAD9;
}

.select2 {
	background: #fff;
	border-right: none;
}

/* ------------------ 매장 관리 --------------------- */
.manage {
	width: 100%;
	min-height: 100vh;
	display: none;
}

.store .store_reg_btn button {
	height: 80px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	margin: 30px;
}

.store_list h1 {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

#store_list li {
	padding-bottom: 1%;
	border-bottom: 2px solid #ddd;
}

#store_list li>div {
	padding: 10px;
}

#store_list li a {
	display: flex;
}

#store_list li a>span {
	display: block;
	padding-right: 10px;
}

#store_list li .inf>span {
	font-size: 18px;
	display: block;
}

#store_list li .store_img_box {
	width: 15%;
	height: 0;
	border-radius: 10px;
	padding-bottom: 16%;
	position: relative;
}

#store_list li img {
	width: 95%;
	height: 95%;
	border-radius: 10px;
	object-fit: cover;
	position: absolute;
	top: 0;
}
/* ------------------ 매장 관리 --------------------- */
@media ( max-width :1024px) {
	.wrap {
		width: 100%;
	}
	#store_list li .inf>span {
		font-size: 16px;
	}
	#store_list li span.inf h2 {
		font-size: 18px;
	}

	/* --------------------- 왼쪽 탭 --------------------- */
	aside {
		width: 100%;
	}
	aside ul {
		display: flex;
	}
	aside ul li {
		width: 33%;
		height: 60px;
		font-size: 18px;
	}
	main {
		width: 99%;
	}

	/* --------------------- 왼쪽 탭 --------------------- */
}

@media ( max-width :767px) {
	/* --------------------- 상단 탭 --------------------- */
	section.tab {
		width: 100%;
		margin-top: 20px;
	}
	section.tab ul li {
		padding: 5px;
		font-size: 18px;
	}
	aside ul li {
		height: 40px;
		font-size: 16px;
	}
	main ul .order_box .time {
		top: 30px;
		margin-left: 0px;
	}
	main ul .order_box .info {
		font-size: 16px;
		padding-left: 95px;
	}
	main ul .order_box .time>div:first-child {
		font-size: 16px;
	}
	main ul .order_box .time>div:last-child {
		font-size: 23px;
	}
	main ul .order_box .payMethod {
		font-size: 10px;
		padding: 3px;
	}
	#store_list li span.inf h2 {
		font-size: 15px;
	}
	#store_list li .inf>span {
		font-size: 13px;
	}
	#store_list li .img_box {
		width: 21%;
		padding-bottom: 23%;
	}
}

@media ( max-width :600px) {
	section.tab ul li {
		font-size: 16px;
	}
	main ul .order_box .button_box {
		width: 100%;
	}
	main ul .order_box .button_box .btn {
		background: none;
		width: 100%;
		font-size: 0;
		border: none;
	}
	#store_list li .img_box {
		width: 25%;
		padding-bottom: 28%;
	}
	.delevery_timer li {
		margin: 10px;
		height: 60px;
	}
}