body {
	overflow-x: hidden; 
	
}

.wrap {
    width: 95%;
    margin: 0 auto;
}

main {
   background: #fff; 
   padding-bottom: 50px;
}

.address_search h1 {
	font-size: 24px;
	text-align: center;
	margin: 10px 0 10px 0;
}


.address_search #search_box {
   	width: 50%;
	height: 45px;
	background: #F6F6F6;
	border-radius: 10px;
	margin: 20px auto;
	display:flex; 
} 

.address_search #search_box input {
	font-size: 18px;
}

.address_search #search_box > div:first-child {
	width: 90%;
}

.address_search .search_btn {
	width:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

.address_search .search_btn i {
	font-size: 18px;
	color: #999999;
}

 .address_search #sample2_address {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border: none;
    background: none;
 }
 
 .address_search #search_btn {
    display: none;
 }

.category_box .box {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.category > li {
	display: flex;
	margin-bottom: 60px;
}  


.category > li ul  {
	display: flex;
	width:100%;
	justify-content: space-between;
}

.category > li ul li {
	width: 18%;
	height: 0;
	padding-bottom:21%;
	position: relative;
}

.category li ul li:hover {
  transform: scale(1.1); 
    transition: 0.1s;
} 

.category > li ul span:first-child {
	width: 100%;
	height: 0;
	padding-bottom:100%;
	position: relative;
}




.category li img {
    width: 95%;
    height: 95%;
    object-fit : cover;
    border-radius: 10px;
    display: block;
    position: absolute;
    top:0;
}

 
.category li span {
    font-size : 18px;
    text-align: center;
    display: block;
    margin-top:5px;
    font-weight: bold;
    width: 100%;
}

.q {
	background: url("/img/dessert2.png");
	object-fit:cover;
}

/* 肄섑뀗痢� */





@media  (max-width:1200px) {
}

@media  (max-width:1023px) {
	.address_search #search_box {
	    width: 50%;
	    height: 45px;
	}
	
	
	
	
	
	.category_box .box {
		width: 95%;
	}
	
}


@media (max-width:767px) {
	.address_search #search_box {
	    width: 73%;
	}
	 .address_search #sample2_address {
	 	width: 80%
	 }
	 
	 
	.address_search #search_box input {
		font-size: 16px;
	}
		 
	.category_box .box {
		width: 100%;
	}
	
	.category > li {
		margin-bottom: 40px;
	}
	  
	.category li span {
	    font-size : 13px;
	} 
}



@media (max-width:650px) {
	
}

@media (max-width:480px) {
	.address_search #search_box {
	    width: 90%;
	}
	
	
}



