
.wrap {
	width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.title {
    width: 100%;
}

section.title h1 {
    text-align: center;
    margin : 20px 0 20px 0 ;
}


/* main */
main {
    width: 70%;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding-bottom: 40px;
}

.info_box {
    margin: 0px auto;
    text-align: center;
}

.info_box div {
	margin: 10px 0 15px 0;
}

.info_box div span {
	height: 50px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.info_box .email {
	font-size: 17px;
	margin: 5px 0 15px 0;
}


 .info_box .input_area {
    width: 60%;
}

.info_box .submit_area {
	width: 15%;
	max-width: 70px;
}

.info_box input {
	font-size: 15px;
}

.info_box input[type="text"],
.info_box input[type="password"] {
    margin: 0 auto;
    width: 95%;
    border: none;
    height: 95%;
} 

.info_box input[type="button"] {
   width: 100%;
   height:100%;
   background : #2AC1BC;
   color: #fff;
   border: none; 
   border-radius: 10px;
}


@media (max-width:1023px) {
	.wrap {
		width: 99%;
	}
	
	main {
		width: 100%;
		margin-left: 0;
	}
	
 	.info_box div span {
		height: 40px;
	}
	
	 .info_box .input_area {
	    width: 70%;
	}
} 



