
.input_area,textarea {
	border-radius: 10px; 
}

main {
	width: 800px;
	margin : 0 auto 50px ;
	
	
} 


section.title {
    width: 100%;
}

section.title h1 {
    font-size: 24px;
    text-align: center;
    margin : 30px 0 50px 0 ;
}

/* main */

main form > ul > li {
	margin-bottom: 30px;
	font-size: 18px;
}

main div {
    margin-bottom: 5px;
}

main .menu_option,
.price {
	font-size: 16px;
	color: #999;
}

main h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

main .order_info li {
	position: relative;
}

main .amount {
	position: relative;
	
}
	
main .amount .amount_box {
	border: 1px solid #ddd;
	border-radius: 40px;
	font-size: 20px;
	width: 150px;
	padding: 5px;
	display: block; 
	position: absolute;
	right: 0;
	bottom:0; 
	
}

main .amount .amount_box > span {
	display: block;
	float: left;
	width: 33%;
	margin-bottom: 5px;
}

main .amount .amount_box button {
	width: 100%;
	border: none;
	background: #fff;
	font-size: 20px;
	
}
main .amount .amount_box input {
	width:100%;
	border: none;
	background: #fff;
	text-align: center;
}



main .input_area {
	width: 250px;
	height: 30px;
	border: 1px solid #ddd;
	padding-bottom: 5px;
	
}

main .input_area input {
	padding-left: 10px;
	border: none;	
	font-size: 15px;
	width: 97%;
	padding-bottom: 5px;
	margin-top:5px; 
	
}

main .point_dis {
	display: none;
}


main .order_btn {
	width: 320px;
	height: 50px;
	border-radius: 5px;
	background: #30DAD9;
	color: white;
	border: 2px solid #ddd;
	font-weight: bold;
	font-size: 16px;
	
}

main .request textarea {
	padding: 10px;
}


main .point {
	border: 1px solid #333333;
	padding: 10px;
	width: 300px;
	position: relative;
	border-radius:10px; 
}

main .point > div {
	margin-bottom: 0px;
}

main .point .icon {
	position: absolute;
	right: 15px;
}

main .point_input_box {
	width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 7px;
    height: 30px;
    display: none;
}

main .point_input_box > span {
	position: relative;
    display: block;
    height: 25px;
	
}

main .point_area .point_input {
    cursor: text;
    width: 99%;
    display: block;
    margin: 8px auto 0;
    height:100%; 
    border: 0;
    font-size: 15px;
}

main .use_point{
	border: 1px solid #ddd; 
    position: absolute;
    top: -4px;
    right: 0px;
    padding: 5px;
    border-radius: 10px;
    background: #fff;
}

input[type="submit"] {
	cursor: pointer;
}



@media (max-width:1024px) {
	main {
		width: 95%;
	}
	
}

@media (max-width:768px) {
	main h2 {
		font-size: 18px;
	}
	main li {
		font-size: 16px;
	}
	
	main .input_area {
		width: 100%;
		margin: 0 auto;
	}
	main .input_area input{
		margin: 7px auto 0;
		display: block;
		padding-left: 5px;
	}
	.delevery_info {
		width: 95%;
		margin: 0 auto;
	}
	
	.request {
		margin: 0 auto;
	}
	.request textarea {
		width:90%;
		display: block;
		margin: 0 auto;
	}
	
	main .point {
		width: 92%;
		margin: 0 auto;
	}
	main .order_btn {
   	    width: 99%;
	    margin: 0 auto;
	    display: block;
	}
	
}

@media (max-width:480px) {
	main h2 {
		font-size: 16px;
	}
	main li {
		font-size: 14px;
	}
}


