

.container {
    width: 100%;
   
}

/* <!-- 헤더 --> */

/* 콘텐츠 */
main {
   background: #fff; 
}

/* 상단 카테고리 */
.category{
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
    padding: 15px 0;
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 25%);
    
    margin: 0 auto;
    max-width: 1200px;
}

.category::-webkit-scrollbar {
    background: none;
}

.category li {
    font-size: 16px;
	font-weight: bold;
    padding: 0 15px;
    display:inline;
    text-align: center;
    color: #ddd;
}

.category li > span{
	padding-bottom: 5px;
}

.category li:hover {
    color: #333333;
    cursor: pointer;
    transition: 0.1s;

}

/* 상단 카테고리 */


/* 상단 옵션 */
.option  { 
    font-size: 16px;
    
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1200px;
}
.option ul { 
    margin:30px 10px;
}

.option li { 
    border: 1px solid #ccc;
    display: inline;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.option li:hover {  
    background: #30DAD9;
    color: #ffffff;
    transition: 0.1s;
}

/* 상단 옵션 */


/* 가게 목록 */
.box {
 	margin: 0 auto;
    max-width: 1200px;
}

.box img { 
	display: block;
	margin: 0 auto;
	width:90%;
	max-width: 500px;
}

.box .store {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0 40px 0;
}

.box .store li {
    border : 1px solid #ddd;
    border-radius:10px;
    width: 46%;
    margin: 10px auto;
    padding : 25px 0;
    position: relative; 
}
.box .store li.temp {
	border: none;
}

.box .store li > div {
    padding:10px;
}

.box .store li img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}

.box .store li:hover img {
    transform: scale(1.05); 
    transition: 0.1s;
}

.box .store li .inf {
    margin-top: -10px;
    font-size: 18px;
    padding-left: 185px;
}

.box .store li .inf h2 {
	font-size: 18px;
}

.box .store li .inf div span {
    margin-right: 5px;
}

.score_box i {
	font-size: 15px;
}
.score_box i.fas {
	color: gold;
}


/* 가게 목록 */

/* 콘텐츠 */

@media (max-width:1150px) {
	
	.box .store li img {
	    width: 150px;
	    height: 150px;
	}
	.box .store li .inf {
	    font-size: 16px;
	    padding-left:163px;
	    position: relative;
    	top: -5px;
	}
}


@media (max-width:1024px) {
	.container {
	    width: 100%;
	}
	
	.box .store li {
	    width: 100%;
	    margin: 20px auto 0px;
	    border:none;
	    border-radius: 0;
	    border-bottom: 2px solid #ddd;
	}
	.box .store li img {
	    top: 5px;
	    left: 5px;
	}
	
	.option  { 
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y:hidden; 
	}
	
	.option::-webkit-scrollbar  { 
	    background:none;
	}
	
	
	
	.box .store li .inf {
	    font-size: 16px;
	    padding-left: 154px;
	    position: relative;
    	top: -15px;
	}
	
}


@media (max-width:780px) {
	
	.container {
	    width: 99%;
	}
	
	.category {
		padding: 10px 0;
	}
	
	.category li {
	    font-size: 15px;
	    padding: 10px 15px;
	}
		
	.box .store li {
	 	padding: 25px 0 0px;
	}

	.box .store li img {
	    width: 90px;
	    height: 90px;
	}
	
	.box .store li .inf {
	    font-size: 13px;
	    padding-left: 93px;
	    top: -18px;
	    margin-bottom: -10px;
	}
	.box .store li .inf h2 {
		font-size: 15px;
	}
	.option  { 
	   font-size: 13px;
	}
	
	.option ul { 
	    margin:10px;
	}
	.option li { 
	    border: 1px solid #ccc;
	    padding: 5px 10px 5px 10px;
	}
	
}



